<div class="row">
  <div class="col-6 offset-3 mt-5">
    <form #productFrom="ngForm" (ngSubmit)="onFormSubmit(productFrom)" ngNativeValidate>


      <div *ngFor="let col of testCols" class="form-group">
        <label>{{col.text}}</label>
        <input [(ngModel)]="testtt[col.key]" [name]="col.key" [type]="col.inputType" class="form-control"
          [pattern]="col.pattern">
        <div [hidden]="productFrom.controls[col.key]?.valid" class="text-danger">
          {{col.validateMessage}}
        </div>
      </div>


      <!-- <div class="form-group">
        <label>Id</label>
        <input [(ngModel)]="testtt.id" name="id" type="number" class="form-control" pattern=".{0,4}">
        <div [hidden]="productFrom.controls.id?.valid" class="text-danger">
          Az id minimum 2 maximum 4 karakter legyen!
        </div>
      </div>

      <div class="form-group">
        <label>Zip</label>
        <input [(ngModel)]="testtt.zip" name="zip" type="text" class="form-control" pattern=".{2,7}" required>
        <div [hidden]="productFrom.controls.zip?.valid" class="text-danger">
          Az zip minimum 2 maximum 4 karakter legyen!
        </div>
      </div>
      <div class="form-group">
        <label>Country</label>
        <input [(ngModel)]="testtt.country" name="country" type="text" class="form-control" pattern=".{2,20}" required>
        <div [hidden]="productFrom.controls.country?.valid" class="text-danger">
          A country minimum 2 maximum 20 karakter legyen!
        </div>
      </div>
      <div class="form-group">
        <label>City</label>
        <input [(ngModel)]="testtt.city" name="city" type="text" class="form-control" pattern=".{2,20}" required>
        <div [hidden]="productFrom.controls.city?.valid" class="text-danger">
          A city minimum 2 maximum 20 karakter legyen!
        </div>
      </div> -->
      <button [disabled]="productFrom.invalid || updating" class="btn btn-block btn-primary">
        <i *ngIf="!updating" class="fa fa-save"></i>
        <i *ngIf="updating" class="fa fa-refresh"></i>
      </button>
    </form>
    <button class="btn btn-block btn-danger" (click)="delete()">
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>