<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Categories</h4>
                        <p class="card-category">Product categories</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                </thead>
                                <tbody>
                                <!-- 1. - BehaviorSubject vagy a product.service.ts fileban levo adatok megjelenitesehez
                                        addressList$ a test.component.ts-ben van
                                -->
                                  <tr *ngFor="let cat of categoryList$ | async  "> 
          
                                <!-- 2. - Observable 
                                  <tr *ngFor="let address of testList | async  ">
                                -->
                                    <td>{{ cat.id }}</td>
                                    <td>{{ cat.name }}</td>
                                    <td>{{ cat.description }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button [routerLink]="'/editor/category/' +[cat.id]"
                                                    class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                            </div>
                                        </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







        
