<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Zip
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Street
                                    </th>
                                    <th>
                                        Notes
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                </thead>
                                <tbody>
                                    <!-- 1. - BehaviorSubject vagy a product.service.ts fileban levo adatok megjelenitesehez
                                        addressList$ a test.component.ts-ben van
                                -->
                                    <tr *ngFor="let testitem of testList$ | async  ">

                                        <!-- 2. - Observable 
                                  <tr *ngFor="let address of testList | async  ">
                                -->
                                        <td>{{ testitem.id }}</td>
                                        <td>{{ testitem.zip }}</td>
                                        <td>{{ testitem.country }}</td>
                                        <td>{{ testitem.city }}</td>
                                        <td>{{ testitem.street }}</td>
                                        <td>{{ testitem.notes }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button [routerLink]="'/testeditor/' +[testitem.id]"
                                                    class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>