<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Bill</h4>
                        <p class="card-category"> Here you can find your bills.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>id</th>
                                    <th>orderID</th>
                                    <th>status</th>
                                    <th>amount</th>
                                    <th>
                                        Edit
                                    </th>
                                </thead>
                                <tbody>
                                    <!-- 2. - BehaviorSubject vagy a product.service.ts fileban levo adatok megjelenitesehez
              addressList$ a product.component.ts-ben van
          -->
                                    <tr *ngFor="let bill of billList$ | async  ">

                                        <!-- 2. - Observable 
            <tr *ngFor="let product of productList | async  ">
          -->
                                        <td>{{ bill.id }}</td>
                                        <td>{{ bill.orderID }}</td>
                                        <td>{{ bill.status }}</td>
                                        <td>{{ bill.amount }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button [routerLink]="'/editor/bill/' +[bill.id]"
                                                    class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
