<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Products</h4>
          <p class="card-category">Here you can find all Products</p>
        </div>
        <div class="card-body">
          <app-searchbar [(filter)]="filter" (changeFilter)="changeFilter($event)" [usedFilterType]="'product'"
            [columns]="columns">
          </app-searchbar>

          <button [routerLink]="'/editor/product/0'" class="btn btn-primary"><i class="fa fa-plus"></i></button>

          <mat-table cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)"
            [dataSource]="dataSource">

            <ng-container *ngFor=" let column of columns; let i=index" [matColumnDef]="column.name">
              <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x" class="text-primary header-cell"
                (click)="selectColumnForSort(column.name)">
                {{ column.title }}
                <i *ngIf="sorter.sortAscend && sorter.sortKey==column.name"
                  class="fa fa-angle-down fa-2x sorterSign"></i>
                <i *ngIf="!sorter.sortAscend && sorter.sortKey==column.name"
                  class="fa fa-angle-up fa-2x sorterSign"></i>
              </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element[column.name] }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="image">
              <mat-header-cell *matHeaderCellDef class="text-primary header-cell"> Image </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <img [src]="row.image" class="thumbnail" alt="row.name">
              </mat-cell>
              <mat-footer-cell *matFooterCellDef class="text-primary footer-cell">
                {{ column.footer }}
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef class="text-primary header-cell"> Edit </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button [routerLink]="'/editor/product/' + [row.id]" class="btn btn-primary"><i
                    class="fa fa-edit"></i></button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef class="text-primary footer-cell">Total:</mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef class="text-primary header-cell"> Delete </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button type="button" class="btn btn-primary" data-toggle="modal" (click)="subscribeForDelete(row)"
                  data-target="#exampleModal">
                  <i class="fa fa-trash"></i>
                </button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef class="text-primary footer-cell">Total:</mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderRow" #tableHeaderRow>
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns" class="tableFooterRow" #tableFooterRow>
            </mat-footer-row>

          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Delete message</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <b>{{ subscribeForDeleteItem.name }}</b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">DELETE</button>
      </div>
    </div>
  </div>
</div>