.btn-primary {
  background-color: #e8433f;
  border-color: #e8433f;
}
.btn-primary:hover {
  background-color: #e50c09;
  border-color: #e50c09;
}

.btn-primary:focus {
  background-color: #e8433f !important;
  border-color: #e8433f !important;
}
.btn-outline-primary {
  color: #e8433f;
  border-color: rgba(232, 67, 63, 0.8);
}
.btn-outline-primary:hover {
  background-color: #e50c09;
  border-color: #e50c09;
  color: white;
}

.btn-outline-primary:focus {
  color: #e8433f !important;
  border-color: #e8433f !important;
}

.text-primary {
  color: #e8433f !important;
}

.card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
  background: linear-gradient(60deg, #e8433f, #e53b37);
}

:host ::ng-deep .form-control:focus {
  box-shadow: none !important;
  background-image: linear-gradient(
      to top,
      #e8433f 2px,
      rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}

:host ::ng-deep .dropdown-menu .dropdown-item:hover,
:host ::ng-deep .dropdown-menu a:hover .thumbnail {
  background-color: #e50c09;
}

.thumbnail {
  width: 75%;
}

.form-control {
  transition: linear 200ms;
}
.form-control:hover {
  border-color: #e50c09;
}

i.sorterSign {
  position: inline;
  right: 0;
  margin-left: 0.5rem;
  /* margin-top: 0.25rem; */
}

.cdk-drag-preview {
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.cdk-drag-preview::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  color: transparent;
  position: relative;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  border: dashed 1px rgba(0, 0, 0, 0.4);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag {
  cursor: pointer;
  border: dotted 0px transparent;
}

.cdk-drag.text-primary.header-cell:hover {
  color: #e50c09 !important;
}
.mat-header-cell {
  font-size: 1rem;
  transition: color linear 200ms;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: #f8f8f8;
}
