<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>id</th>
                                    <th>firstName</th>
                                    <th>lastName</th>
                                    <th>email</th>
                                    <th>address Zip</th>
                                    <th>address Country</th>
                                    <th>address City</th>
                                    <th>address Street</th>
                                    <th>active</th>
                                </thead>
                                <tbody>
                                    <!-- 2. - BehaviorSubject vagy a product.service.ts fileban levo adatok megjelenitesehez
                addressList$ a product.component.ts-ben van
            -->
                                    <tr *ngFor="let customer of customerList$ | async  ">

                                        <!-- 2. - Observable 
              <tr *ngFor="let product of productList | async  ">
            -->
                                        <td>{{ customer.id }}</td>
                                        <td>{{ customer.firstName }}</td>
                                        <td>{{ customer.lastName }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.address.zip }}</td>
                                        <td>{{ customer.address.country }}</td>
                                        <td>{{ customer.address.city }}</td>
                                        <td>{{ customer.address.street }}</td>
                                        <td>{{ customer.active }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>